* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  line-height: 1.7;
  color: hsl(0, 0%, 75%);
  background-color: hsl(210, 46%, 95%);
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.3;
}

// background
.bg-md {
  background-color: $moderateViolet;
}
.bg-grayish-blue {
  background-color: $darkGrayishBlue;
}
.bg-blackish-blue {
  background-color: $darkBlackishBlue;
}
.bg-white {
  background-color: #fff;
  color: $darkGrayishBlue;
}

// Padding
.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.p-3 {
  padding: 1.5rem;
}
.p-4 {
  padding: 2rem;
}
.p-5 {
  padding: 2.5rem;
}

// Margin
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 1.5rem;
}
.mb-4 {
  margin-bottom: 2rem;
}
.mb-5 {
  margin-bottom: 2.5rem;
}
